#blog_post_info,#under_post_news,#under_post_kb,#ad_c1,#ad_c2{
    display:none;
}
#tbCommentBody{
    width:500px;
    height:80px;
}
#tip_comment2+p{
    display:none;
}
#topics .postTitle a{
    color:red;
    font-size:30px;
}
#main{
    
}
#ad_t2{
    display:none;
}
.sexngcfhz6kaoflucontent{
    display:none;
}#cnblogs_c1{
    display:none;
}
#cnblogs_c2{
    display:none;
}