@font-face {
  font-family: 'iconfont';
  src:  url('../fonts/iconfont.eot?avjuxs');
  src:  url('../fonts/iconfont.eot?avjuxs#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.ttf?avjuxs') format('truetype'),
    url('../fonts/iconfont.woff?avjuxs') format('woff'),
    url('../fonts/iconfont.svg?avjuxs#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="iconfont-"], [class*=" iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.iconfont-quote-circular-button:before {
  content: "\e9ec";
}
.iconfont-filter:before {
  content: "\e900";
}
.iconfont-gift:before {
  content: "\e901";
}
.iconfont-home:before {
  content: "\e902";
}
.iconfont-international:before {
  content: "\e903";
}
.iconfont-keywords:before {
  content: "\e904";
}
.iconfont-keyword-search:before {
  content: "\e905";
}
.iconfont-marketing:before {
  content: "\e906";
}
.iconfont-online-shopping:before {
  content: "\e907";
}
.iconfont-package:before {
  content: "\e908";
}
.iconfont-password:before {
  content: "\e909";
}
.iconfont-pay-per-click:before {
  content: "\e90a";
}
.iconfont-price-tag:before {
  content: "\e90b";
}
.iconfont-recipt:before {
  content: "\e90c";
}
.iconfont-remove-from-cart:before {
  content: "\e90d";
}
.iconfont-savings:before {
  content: "\e90e";
}
.iconfont-security:before {
  content: "\e90f";
}
.iconfont-shopping-bag:before {
  content: "\e910";
}
.iconfont-statistics:before {
  content: "\e911";
}
.iconfont-storage:before {
  content: "\e912";
}
.iconfont-support:before {
  content: "\e913";
}
.iconfont-target:before {
  content: "\e914";
}
.iconfont-truck:before {
  content: "\e915";
}
.iconfont-vdeo-player:before {
  content: "\e916";
}
.iconfont-wallet:before {
  content: "\e917";
}
.iconfont-hours:before {
  content: "\e918";
}
.iconfont-add-to-cart:before {
  content: "\e919";
}
.iconfont-briefcase:before {
  content: "\e91a";
}
.iconfont-calculator:before {
  content: "\e91b";
}
.iconfont-cash:before {
  content: "\e91c";
}
.iconfont-checkout:before {
  content: "\e91d";
}
.iconfont-click:before {
  content: "\e91e";
}
.iconfont-configuration:before {
  content: "\e91f";
}
.iconfont-conversation:before {
  content: "\e920";
}
.iconfont-credit-card:before {
  content: "\e921";
}
.iconfont-custom-coding:before {
  content: "\e922";
}
.iconfont-difussion:before {
  content: "\e923";
}
.iconfont-discount:before {
  content: "\e924";
}
.iconfont-edit:before {
  content: "\e925";
}
.iconfont-empty-cart:before {
  content: "\e926";
}
.iconfont-eye:before {
  content: "\e927";
}
.iconfont-idea:before {
  content: "\e928";
}
.iconfont-networking:before {
  content: "\e929";
}
.iconfont-origami:before {
  content: "\e92a";
}
.iconfont-packaging:before {
  content: "\e92b";
}
.iconfont-padlock:before {
  content: "\e92c";
}
.iconfont-passion:before {
  content: "\e92d";
}
.iconfont-pie-chart:before {
  content: "\e92e";
}
.iconfont-placeholder:before {
  content: "\e92f";
}
.iconfont-presentation:before {
  content: "\e930";
}
.iconfont-profits:before {
  content: "\e931";
}
.iconfont-profits-1:before {
  content: "\e932";
}
.iconfont-research:before {
  content: "\e933";
}
.iconfont-startup:before {
  content: "\e934";
}
.iconfont-success:before {
  content: "\e935";
}
.iconfont-success-1:before {
  content: "\e936";
}
.iconfont-tap:before {
  content: "\e937";
}
.iconfont-teamwork:before {
  content: "\e938";
}
.iconfont-teamwork-1:before {
  content: "\e939";
}
.iconfont-adaptation:before {
  content: "\e93a";
}
.iconfont-announcement:before {
  content: "\e93b";
}
.iconfont-banking:before {
  content: "\e93c";
}
.iconfont-brainstorm:before {
  content: "\e93d";
}
.iconfont-brainstorm-1:before {
  content: "\e93e";
}
.iconfont-browser:before {
  content: "\e93f";
}
.iconfont-charity:before {
  content: "\e940";
}
.iconfont-coffee-break:before {
  content: "\e941";
}
.iconfont-contract:before {
  content: "\e942";
}
.iconfont-creativity:before {
  content: "\e943";
}
.iconfont-crowdfunding:before {
  content: "\e944";
}
.iconfont-discussion:before {
  content: "\e945";
}
.iconfont-dna:before {
  content: "\e946";
}
.iconfont-fight:before {
  content: "\e947";
}
.iconfont-focus:before {
  content: "\e948";
}
.iconfont-franchise:before {
  content: "\e949";
}
.iconfont-graphic-tool:before {
  content: "\e94a";
}
.iconfont-growth:before {
  content: "\e94b";
}
.iconfont-back-1:before {
  content: "\e94c";
}
.iconfont-back-2:before {
  content: "\e94d";
}
.iconfont-back-3:before {
  content: "\e94e";
}
.iconfont-back-4:before {
  content: "\e94f";
}
.iconfont-back-5:before {
  content: "\e950";
}
.iconfont-back-6:before {
  content: "\e951";
}
.iconfont-back-7:before {
  content: "\e952";
}
.iconfont-back-8:before {
  content: "\e953";
}
.iconfont-battery:before {
  content: "\e954";
}
.iconfont-bell:before {
  content: "\e955";
}
.iconfont-box:before {
  content: "\e956";
}
.iconfont-brightness:before {
  content: "\e957";
}
.iconfont-brightness-1:before {
  content: "\e958";
}
.iconfont-browser2:before {
  content: "\e959";
}
.iconfont-browser-1:before {
  content: "\e95a";
}
.iconfont-cancel:before {
  content: "\e95b";
}
.iconfont-cancel-1:before {
  content: "\e95c";
}
.iconfont-checked:before {
  content: "\e95d";
}
.iconfont-clipboard:before {
  content: "\e95e";
}
.iconfont-clock:before {
  content: "\e95f";
}
.iconfont-cloud:before {
  content: "\e960";
}
.iconfont-coffee-cup:before {
  content: "\e961";
}
.iconfont-computer:before {
  content: "\e962";
}
.iconfont-down-arrow:before {
  content: "\e963";
}
.iconfont-down-arrow-1:before {
  content: "\e964";
}
.iconfont-down-arrow-2:before {
  content: "\e965";
}
.iconfont-down-arrow-3:before {
  content: "\e966";
}
.iconfont-down-arrow-4:before {
  content: "\e967";
}
.iconfont-download:before {
  content: "\e968";
}
.iconfont-download-1:before {
  content: "\e969";
}
.iconfont-download-2:before {
  content: "\e96a";
}
.iconfont-envelope:before {
  content: "\e96b";
}
.iconfont-exclamation:before {
  content: "\e96c";
}
.iconfont-exclamation-1:before {
  content: "\e96d";
}
.iconfont-eye2:before {
  content: "\e96e";
}
.iconfont-fast-forward:before {
  content: "\e96f";
}
.iconfont-fast-forward-1:before {
  content: "\e970";
}
.iconfont-file:before {
  content: "\e971";
}
.iconfont-flag:before {
  content: "\e972";
}
.iconfont-folder:before {
  content: "\e973";
}
.iconfont-forbidden:before {
  content: "\e974";
}
.iconfont-full:before {
  content: "\e975";
}
.iconfont-heart:before {
  content: "\e976";
}
.iconfont-help:before {
  content: "\e977";
}
.iconfont-home2:before {
  content: "\e978";
}
.iconfont-info:before {
  content: "\e979";
}
.iconfont-key:before {
  content: "\e97a";
}
.iconfont-key-1:before {
  content: "\e97b";
}
.iconfont-light-bulb:before {
  content: "\e97c";
}
.iconfont-list:before {
  content: "\e97d";
}
.iconfont-loading:before {
  content: "\e97e";
}
.iconfont-locate:before {
  content: "\e97f";
}
.iconfont-medal:before {
  content: "\e980";
}
.iconfont-menu:before {
  content: "\e981";
}
.iconfont-menu-1:before {
  content: "\e982";
}
.iconfont-microphone:before {
  content: "\e983";
}
.iconfont-minus:before {
  content: "\e984";
}
.iconfont-minus-1:before {
  content: "\e985";
}
.iconfont-moon:before {
  content: "\e986";
}
.iconfont-more:before {
  content: "\e987";
}
.iconfont-move:before {
  content: "\e988";
}
.iconfont-musical-note:before {
  content: "\e989";
}
.iconfont-musical-note-1:before {
  content: "\e98a";
}
.iconfont-mute:before {
  content: "\e98b";
}
.iconfont-next:before {
  content: "\e98c";
}
.iconfont-next-1:before {
  content: "\e98d";
}
.iconfont-next-2:before {
  content: "\e98e";
}
.iconfont-next-3:before {
  content: "\e98f";
}
.iconfont-next-4:before {
  content: "\e990";
}
.iconfont-next-5:before {
  content: "\e991";
}
.iconfont-next-6:before {
  content: "\e992";
}
.iconfont-next-7:before {
  content: "\e993";
}
.iconfont-orientation:before {
  content: "\e994";
}
.iconfont-paint-brush:before {
  content: "\e995";
}
.iconfont-pause:before {
  content: "\e996";
}
.iconfont-pause-1:before {
  content: "\e997";
}
.iconfont-phone-call:before {
  content: "\e998";
}
.iconfont-photo-camera:before {
  content: "\e999";
}
.iconfont-photo-camera-1:before {
  content: "\e99a";
}
.iconfont-placeholder2:before {
  content: "\e99b";
}
.iconfont-play:before {
  content: "\e99c";
}
.iconfont-play-button:before {
  content: "\e99d";
}
.iconfont-play-button-1:before {
  content: "\e99e";
}
.iconfont-question:before {
  content: "\e99f";
}
.iconfont-question-1:before {
  content: "\e9a0";
}
.iconfont-question-2:before {
  content: "\e9a1";
}
.iconfont-question-3:before {
  content: "\e9a2";
}
.iconfont-record:before {
  content: "\e9a3";
}
.iconfont-record-1:before {
  content: "\e9a4";
}
.iconfont-refresh:before {
  content: "\e9a5";
}
.iconfont-refresh-1:before {
  content: "\e9a6";
}
.iconfont-remove-user:before {
  content: "\e9a7";
}
.iconfont-rewind:before {
  content: "\e9a8";
}
.iconfont-rewind-1:before {
  content: "\e9a9";
}
.iconfont-rocket-ship:before {
  content: "\e9aa";
}
.iconfont-screen:before {
  content: "\e9ab";
}
.iconfont-search:before {
  content: "\e9ac";
}
.iconfont-search-1:before {
  content: "\e9ad";
}
.iconfont-security2:before {
  content: "\e9ae";
}
.iconfont-settings:before {
  content: "\e9af";
}
.iconfont-share:before {
  content: "\e9b0";
}
.iconfont-share-1:before {
  content: "\e9b1";
}
.iconfont-shopping-cart:before {
  content: "\e9b2";
}
.iconfont-shopping-cart-1:before {
  content: "\e9b3";
}
.iconfont-sign-in:before {
  content: "\e9b4";
}
.iconfont-sign-in-1:before {
  content: "\e9b5";
}
.iconfont-smartphone:before {
  content: "\e9b6";
}
.iconfont-speech-bubble:before {
  content: "\e9b7";
}
.iconfont-speech-bubble-1:before {
  content: "\e9b8";
}
.iconfont-speech-bubble-2:before {
  content: "\e9b9";
}
.iconfont-star:before {
  content: "\e9ba";
}
.iconfont-stats:before {
  content: "\e9bb";
}
.iconfont-stop:before {
  content: "\e9bc";
}
.iconfont-stop-1:before {
  content: "\e9bd";
}
.iconfont-suitcase:before {
  content: "\e9be";
}
.iconfont-sync:before {
  content: "\e9bf";
}
.iconfont-sync-1:before {
  content: "\e9c0";
}
.iconfont-tablet:before {
  content: "\e9c1";
}
.iconfont-tags:before {
  content: "\e9c2";
}
.iconfont-tape:before {
  content: "\e9c3";
}
.iconfont-target2:before {
  content: "\e9c4";
}
.iconfont-test-tube:before {
  content: "\e9c5";
}
.iconfont-test-tube-1:before {
  content: "\e9c6";
}
.iconfont-text-lines:before {
  content: "\e9c7";
}
.iconfont-thunder:before {
  content: "\e9c8";
}
.iconfont-trash:before {
  content: "\e9c9";
}
.iconfont-unlocked:before {
  content: "\e9ca";
}
.iconfont-up-arrow:before {
  content: "\e9cb";
}
.iconfont-up-arrow-1:before {
  content: "\e9cc";
}
.iconfont-up-arrow-2:before {
  content: "\e9cd";
}
.iconfont-up-arrow-3:before {
  content: "\e9ce";
}
.iconfont-upload:before {
  content: "\e9cf";
}
.iconfont-upload-1:before {
  content: "\e9d0";
}
.iconfont-upload-2:before {
  content: "\e9d1";
}
.iconfont-user:before {
  content: "\e9d2";
}
.iconfont-user-1:before {
  content: "\e9d3";
}
.iconfont-users:before {
  content: "\e9d4";
}
.iconfont-video-camera:before {
  content: "\e9d5";
}
.iconfont-volume:before {
  content: "\e9d6";
}
.iconfont-warning:before {
  content: "\e9d7";
}
.iconfont-warning-1:before {
  content: "\e9d8";
}
.iconfont-wifi:before {
  content: "\e9d9";
}
.iconfont-wifi-1:before {
  content: "\e9da";
}
.iconfont-wine-glass:before {
  content: "\e9db";
}
.iconfont-wine-glass-1:before {
  content: "\e9dc";
}
.iconfont-zoom-in:before {
  content: "\e9dd";
}
.iconfont-zoom-out:before {
  content: "\e9de";
}
.iconfont-add:before {
  content: "\e9df";
}
.iconfont-add-1:before {
  content: "\e9e0";
}
.iconfont-add-user:before {
  content: "\e9e1";
}
.iconfont-anchor:before {
  content: "\e9e2";
}
.iconfont-back:before {
  content: "\e9e3";
}
.iconfont-computer2:before {
  content: "\e9e4";
}
.iconfont-full2:before {
  content: "\e9e5";
}
.iconfont-help2:before {
  content: "\e9e6";
}
.iconfont-medal2:before {
  content: "\e9e7";
}
.iconfont-menu-options:before {
  content: "\e9e8";
}
.iconfont-placeholder-12:before {
  content: "\e9e9";
}
.iconfont-search-1:before {
  content: "\e9ea";
}
.iconfont-star2:before {
  content: "\e9eb";
}

