#MySignature{border:solid 1px #E5E5E5;padding:10px;background:#FFFEFE url(http://images.cnblogs.com/cnblogs_com/leolis/316654/r_Info.png) no-repeat scroll 15px 50%;padding-left:80px;}
#MySignature div{line-height: 25px;}
