
dt{border:dotted 1px #ccc;border-bottom:0;}
dd{text-align:right;border:dotted 1px #CCC;margin:0 0 25px 0;padding:5px;background-color:#f0f0f0}
.level1{padding-left:5px;font-weight:bold}
.level2{padding-left:15px;}
.level3{padding-left:25px;}
.level4{padding-left:35px;}
.level5{padding-left:45px;}
